.note__container{
    width: fit-content;
    margin-top: 0.5rem;
    padding: 0.2rem;
    text-align: center;
    
}

.not-text{
    margin-right: 0.5rem;
    padding: 1rem;
    
}

.note__remove-btn{
    border: none;
    color: white;
}