.notePad__title{
    text-align: center;
    text-shadow: 2px 2px 0 #ffc8c8;
    color: #ff5858;
}

.notepad__container{
    display: flex;
    justify-content: space-around;
    border-top: 1px dotted #30c67c;
    border-bottom: 1px dotted #dc2430;
    border-right: 1px dotted #dc2430;
    border-left: 1px dotted #30c67c;
    padding: 1rem;
}





.notepad__btns-box{
    display: flex;
    padding: 0.5rem;
    margin-top: 1rem;
    text-align: center;
}

.notepad-btn__add{
    background-color:#30c67c;
    color: #fff;
   border: none;
   
}

.notepad-btn__add-icon{
    font-size: 1.5rem;
}

.notepad-btn__remove{
background-color: #dc2430;
color: #fff;
border: none;
margin-left: 1rem;
}

.notepad-btn__remove-icon{
    font-size: 1.2rem;
}

.notePad__colors{
    display: flex;
    margin-top: 1rem;
    
}